html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #333;
}
body {
  background: linear-gradient(to bottom, #2376AC, #041624);
}
.main-wrapper {
  display: flex;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 400px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.jellyfish-wrapper {
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
  position: relative;
  will-change: transform;
  animation: rotate 25s linear infinite;
}
.plane {
  position: absolute;
  transform-style: preserve-3d;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spoke {
  transform-origin: 0 0;
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
}
.dot-wrapper {
  position: absolute;
  transform-style: preserve-3d;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: -4px;
  top: 100%;
  will-change: transform;
  transform: rotateX(90deg);
}
.dot-wrapper .dot-content {
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.dot-wrapper .dot-top,
.dot-wrapper .dot-bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  box-shadow: 0px 0px 10px 0px rgba(55, 195, 255, 0.5);
}
.dot-wrapper .dot-top {
  transform: rotateY(180deg);
}
.dot-wrapper .dot-bottom {
  background: rgba(0, 100, 200, 0.7);
  transform: rotateY(0deg);
}
.spoke.spoke-1 {
  transform: rotateZ(-171.66666667deg);
}
.spoke.spoke-2 {
  transform: rotateZ(-163.33333333deg);
}
.spoke.spoke-3 {
  transform: rotateZ(-155deg);
}
.spoke.spoke-4 {
  transform: rotateZ(-146.66666667deg);
}
.spoke.spoke-5 {
  transform: rotateZ(-138.33333333deg);
}
.spoke.spoke-6 {
  transform: rotateZ(-130deg);
}
.spoke.spoke-7 {
  transform: rotateZ(-121.66666667deg);
}
.spoke.spoke-8 {
  transform: rotateZ(-113.33333333deg);
}
.spoke.spoke-9 {
  transform: rotateZ(-105deg);
}
.plane.plane-1 {
  transform: rotateY(15deg);
}
.plane.plane-2 {
  transform: rotateY(30deg);
}
.plane.plane-3 {
  transform: rotateY(45deg);
}
.plane.plane-4 {
  transform: rotateY(60deg);
}
.plane.plane-5 {
  transform: rotateY(75deg);
}
.plane.plane-6 {
  transform: rotateY(90deg);
}
.plane.plane-7 {
  transform: rotateY(105deg);
}
.plane.plane-8 {
  transform: rotateY(120deg);
}
.plane.plane-9 {
  transform: rotateY(135deg);
}
.plane.plane-10 {
  transform: rotateY(150deg);
}
.plane.plane-11 {
  transform: rotateY(165deg);
}
.plane.plane-12 {
  transform: rotateY(180deg);
}
.plane.plane-13 {
  transform: rotateY(195deg);
}
.plane.plane-14 {
  transform: rotateY(210deg);
}
.plane.plane-15 {
  transform: rotateY(225deg);
}
.plane.plane-16 {
  transform: rotateY(240deg);
}
.plane.plane-17 {
  transform: rotateY(255deg);
}
.plane.plane-18 {
  transform: rotateY(270deg);
}
.plane.plane-19 {
  transform: rotateY(285deg);
}
.plane.plane-20 {
  transform: rotateY(300deg);
}
.plane.plane-21 {
  transform: rotateY(315deg);
}
.plane.plane-22 {
  transform: rotateY(330deg);
}
.plane.plane-23 {
  transform: rotateY(345deg);
}
.spoke-9 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.5s alternate both;
}
.spoke-9 .dot-wrapper .dot-top {
  background-color: #55bbff;
}
.spoke-8 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.44444444s alternate both;
}
.spoke-8 .dot-wrapper .dot-top {
  background-color: #55f4ff;
}
.spoke-7 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.38888889s alternate both;
}
.spoke-7 .dot-wrapper .dot-top {
  background-color: #55ffd2;
}
.spoke-6 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.33333333s alternate both;
}
.spoke-6 .dot-wrapper .dot-top {
  background-color: #55ff99;
}
.spoke-5 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.27777778s alternate both;
}
.spoke-5 .dot-wrapper .dot-top {
  background-color: #55ff60;
}
.spoke-4 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.22222222s alternate both;
}
.spoke-4 .dot-wrapper .dot-top {
  background-color: #82ff55;
}
.spoke-3 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.16666667s alternate both;
}
.spoke-3 .dot-wrapper .dot-top {
  background-color: #bbff55;
}
.spoke-2 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.11111111s alternate both;
}
.spoke-2 .dot-wrapper .dot-top {
  background-color: #f4ff55;
}
.spoke-1 .dot-wrapper {
  animation: pulsate 0.7s infinite 0.05555556s alternate both;
}
.spoke-1 .dot-wrapper .dot-top {
  background-color: #ffd255;
}
.tentacles {
  position: absolute;
  transform-style: preserve-3d;
  width: 50%;
  height: 50%;
  transform-origin: 50% 50%;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotateX(90deg);
}
.t-plane {
  position: absolute;
  transform-style: preserve-3d;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.t-spoke {
  position: absolute;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  left: 50%;
  top: 50%;
  height: 50%;
}
.t-dot-wrapper {
  position: absolute;
  transform-style: preserve-3d;
  width: 9px;
  height: 9px;
  bottom: 0;
  left: -4.5px;
  transform: rotateX(90deg);
  border-radius: 50%;
}
.t-dot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(50, 170, 250, 0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(55, 195, 255, 0.5);
  will-change: transform;
}
.t-spoke.t-spoke-1 {
  transform: rotateZ(72deg);
}
.t-spoke.t-spoke-2 {
  transform: rotateZ(144deg);
}
.t-spoke.t-spoke-3 {
  transform: rotateZ(216deg);
}
.t-spoke.t-spoke-4 {
  transform: rotateZ(288deg);
}
.t-spoke.t-spoke-5 {
  transform: rotateZ(360deg);
}
.t-plane.t-plane-0 {
  transform: translateZ(60px) rotateZ(0deg) scale3d(0.4375, 0.4375, 0.4375);
}
.t-plane.t-plane-1 {
  transform: translateZ(40px) rotateZ(5deg) scale3d(0.475, 0.475, 0.475);
}
.t-plane.t-plane-2 {
  transform: translateZ(20px) rotateZ(10deg) scale3d(0.5125, 0.5125, 0.5125);
}
.t-plane.t-plane-3 {
  transform: translateZ(0px) rotateZ(15deg) scale3d(0.55, 0.55, 0.55);
}
.t-plane.t-plane-4 {
  transform: translateZ(-20px) rotateZ(20deg) scale3d(0.5875, 0.5875, 0.5875);
}
.t-plane.t-plane-5 {
  transform: translateZ(-40px) rotateZ(25deg) scale3d(0.625, 0.625, 0.625);
}
.t-plane.t-plane-6 {
  transform: translateZ(-60px) rotateZ(30deg) scale3d(0.6625, 0.6625, 0.6625);
}
.t-plane.t-plane-7 {
  transform: translateZ(-80px) rotateZ(35deg) scale3d(0.7, 0.7, 0.7);
}
.t-plane.t-plane-8 {
  transform: translateZ(-100px) rotateZ(40deg) scale3d(0.7375, 0.7375, 0.7375);
}
.t-plane.t-plane-9 {
  transform: translateZ(-120px) rotateZ(45deg) scale3d(0.775, 0.775, 0.775);
}
.t-plane.t-plane-10 {
  transform: translateZ(-140px) rotateZ(50deg) scale3d(0.8125, 0.8125, 0.8125);
}
.t-plane.t-plane-11 {
  transform: translateZ(-160px) rotateZ(55deg) scale3d(0.85, 0.85, 0.85);
}
.t-plane.t-plane-12 {
  transform: translateZ(-180px) rotateZ(60deg) scale3d(0.8875, 0.8875, 0.8875);
}
.t-plane.t-plane-13 {
  transform: translateZ(-200px) rotateZ(65deg) scale3d(0.925, 0.925, 0.925);
}
.t-plane.t-plane-14 {
  transform: translateZ(-220px) rotateZ(70deg) scale3d(0.9625, 0.9625, 0.9625);
}
.t-plane.t-plane-15 {
  transform: translateZ(-240px) rotateZ(75deg) scale3d(1, 1, 1);
}
.t-plane-16 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.64s alternate both;
  background-color: #ff55dd;
}
.t-plane-15 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.6s alternate both;
  background-color: #ff55ee;
}
.t-plane-14 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.56s alternate both;
  background-color: #ff55ff;
}
.t-plane-13 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.52s alternate both;
  background-color: #ee55ff;
}
.t-plane-12 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.48s alternate both;
  background-color: #dd55ff;
}
.t-plane-11 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.44s alternate both;
  background-color: #cc55ff;
}
.t-plane-10 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.4s alternate both;
  background-color: #bb55ff;
}
.t-plane-9 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.36s alternate both;
  background-color: #aa55ff;
}
.t-plane-8 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.32s alternate both;
  background-color: #9955ff;
}
.t-plane-7 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.28s alternate both;
  background-color: #8855ff;
}
.t-plane-6 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.24s alternate both;
  background-color: #7755ff;
}
.t-plane-5 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.2s alternate both;
  background-color: #6655ff;
}
.t-plane-4 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.16s alternate both;
  background-color: #5555ff;
}
.t-plane-3 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.12s alternate both;
  background-color: #5566ff;
}
.t-plane-2 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.08s alternate both;
  background-color: #5577ff;
}
.t-plane-1 .t-dot-wrapper .t-dot {
  animation: pulsate2 1s infinite 0.04s alternate both;
  background-color: #5588ff;
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  25% {
    transform: rotateY(90deg) rotateZ(-15deg);
  }
  50% {
    transform: rotateY(180deg) rotateZ(0deg);
  }
  75% {
    transform: rotateY(270deg) rotateZ(25deg);
  }
  100% {
    transform: rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes pulsate {
  0% {
    transform: rotateX(90deg) scale(0.5) translateZ(10px);
  }
  100% {
    transform: rotateX(90deg) scale(1) translateZ(0px);
  }
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes pulsate2 {
  0% {
    transform: translateZ(30px);
  }
  100% {
    transform: translateZ(0px);
  }
}
.animista-badge {
  font: normal 15px/1.5 sans-serif;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.5em 1em;
}
a {
  color: #ff6060;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
